html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: "Open Sans", "NanumBarunGothicLight", sans-serif;
}

header {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 1.6em;
}

h1 > i.fa {
  display: block;
  margin: 15px 0;
}

h1 > span {
  display: block;
  margin: 4px 0;
  font-size: 0.8em;
}

h2 {
  font-size: 1.3em;
  margin: 4px 0;
}

body {
  max-width: 700px;
  margin: 5px auto;
  padding: 10px;
}

section > div {
  padding: 10px 20px;
  text-align: justify;
}

div > p {
  margin: 7px 0;
}

table {
  margin: 20px auto;
}

@media only screen and (max-width: 480px) {
  table .list-number {
    display: none;
  }

  table .list-date {
    width: 50%;
  }

  table .list-people {
    display: none;
  }

  table .list-location {
    width: 50%;
  }
}

form {
  margin: 0 auto;
}

.pure-button-error {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(202, 60, 60);
}

div.error-message {
  background: #f2dede;
  border-radius: 4px;
  color: rgb(202, 60, 60);
  margin-bottom: 10px;
  border: 1px solid rgb(235, 204, 209);
}

div.error-message h3 {
  margin: 0 0 1em 0;
  display: inline;
}

div.error-message p {
  display: inline;
}

footer {
  font-size: 0.8em;
  text-align: center;
  margin: 10px 0;
}