{% extends "skeleton.html" %}
{% block content %}
  <section class="pure-u-1">
    <h2>비밀번호 찾기</h2>

    <p>비밀번호를 찾기 위해서 가입할 때 입력했던 이메일 주소를 입력해주세요.</p>

    {% if message %}
      <div class="error-message">
        <h3><i class="fa fa-times"></i> Error</h3>

        <p>{{ message }}</p>
      </div>
    {% endif %}

    <form class="pure-form pure-form-aligned" method="post" action="{{ url_for('users.post_find_password') }}">
      <fieldset>
        <div class="pure-control-group">
          <label for="email"><i class="fa fa-asterisk"></i> Email</label>
          <input type="text" id="email" name="email" class="pure-input-1-2"/>
        </div>

        <div class="pure-controls">
          <button type="submit" class="pure-button pure-button-primary"><i class="fa fa-check-circle"></i> 비밀번호를 찾아주세요</button>
        </div>
      </fieldset>
    </form>
  </section>
{% endblock %}
