{% extends "skeleton.html" %}
{% block content %}
  <section id="about" class="pure-u-1 pure-u-md-1-2">
    <div>
      <h2>About</h2>

      <p>매주 토요일, 토즈에 모여 각자 하고싶은 일을 하는 모임입니다. 집에서 빈둥빈둥 놀지말고 토즈에 나와 스스로에게 도움이 되는 일을 해봅시다.</p>

      <p>이 모임은 항상은 아니지만, NIPA에서 장소를 지원받고 있습니다.</p>

      <p>지금까지 총 {{ meeting_count }}회의 토토토 모임을 가졌습니다.</p>
    </div>
  </section>

  <section id="next" class="pure-u-1 pure-u-md-1-2">
    <div>
      <h2>Next tototo</h2>

      {% if next_toz %}
        <p>다음 토토토 모임은 {{ next_toz['location'] }}에서 {{ next_toz['date'].strftime('%Y년 %m월 %d일 %H시 %M분') }}에 시작됩니다.</p>

        <p><a href="#" class="pure-button pure-button-primary">토토토 참여하기</a></p>
      {% else %}
        <p>아직 다음 토토토 모임에 대한 내용이 등록되지 않았습니다.</p>
      {% endif %}
    </div>
  </section>
{% endblock %}
