{% extends "skeleton.html" %}
{% block content %}
  {% if message %}
    <section class="pure-u-1">
      <div class="error-message">
        <h3><i class="fa fa-times"></i> Error</h3>

        <p>{{ message }}</p>
      </div>
    </section>
  {% endif %}

  <section class="pure-u-1">
    <h2>토토토 모임 정보</h2>

    <p>"{{ meeting.name }}" 모임은 {{ meeting.users | length }}명이 참여했습니다.
      {{ meeting.when | localtime_format('%Y년 %m월 %d일 %H시 %M분') }}에 {{ meeting.where }}에 모여 각자 자기 할 일을 했습니다.</p>
  </section>

  <section class="pure-u-1">
    <h2>목표</h2>

    <p>이번 토토토 참여자들은 토토토 모임에서 아래와 같은 일들을 하기로 했습니다.</p>

    <div class="wishlist pure-g">
      {% for registration in meeting.registrations %}
        {% if registration.status == 'accepted' %}
          <div class="pure-u-1 pure-u-md-1-2">
            <div class="registration">
              <h3>{{ registration.user.name }}</h3>

              <p>{{ registration.memo | html_filter }}</p>
            </div>
          </div>
        {% elif registration.status == 'waiting' %}
          <div class="pure-u-1 pure-u-md-1-2">
            <div class="registration waiting">
              <h3>{{ registration.user.name }} (대기중)</h3>

              <p>{{ registration.memo | html_filter }}</p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </section>
{% endblock %}
