{% extends "skeleton.html" %}
{% block content %}
  <section class="pure-u-1">
    <h2>토토토 모임 목록</h2>

    <p>지금까지 열린, 그리고 앞으로 열릴 토토토 모임 정보입니다.</p>

    <table class="pure-table pure-table-bordered">
      <thead>
      <tr>
        <th class="meeting-list-when">날짜</th>
        <th class="meeting-list-name">모임명</th>
        <th class="meeting-list-quota">인원수</th>
        <th class="meeting-list-where">장소</th>
        <th class="meeting-list-action">참여</th>
      </tr>
      </thead>
      <tbody>
      {% for meeting in meetings %}
        <tr>
          <td class="meeting-list-when">{{ meeting.when|localtime_format('%Y-%m-%d') }}</td>
          <td class="meeting-list-name"><a href="{{ url_for('meetings.get_meeting', meeting_id=meeting.id) }}">{{ meeting.name }}</a></td>
          <td class="meeting-list-quota">{{ meetings.users|length }}명 / {{ meeting.quota }}명</td>
          <td class="meeting-list-where">{{ meeting.where }}</td>
          <td class="meeting-list-action">
            {% if meeting.available %}
              {% set status = meeting.status_of(current_user) %}
              {% if status == 'accepted' %}
                <a href="{{ url_for('meetings.get_form_registration') }}"
                   class="pure-button pure-button-success"><i class="fa fa-check"></i> 수락됨</a>
              {% else %}
                <a href="{{ url_for('meetings.get_form_registration') }}"
                   class="pure-button pure-button-primary"><i class="fa fa-check"></i> 개설됨</a>
              {% endif %}
            {% else %}
              <a href="#" class="pure-button pure-button-disabled"><i class="fa fa-times"></i> 종료됨</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}
