{% extends "skeleton.html" %}
{% block script %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/embedly-jquery/3.1.1/jquery.embedly.min.js"></script>
  <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey={{ config.DAUM_MAP_API_KEY }}"></script>
  <script type="text/javascript">
    window.onload = function () {
      var mapContainer = document.getElementById('location-map');
      var mapOption = {
        center: new daum.maps.LatLng({{ meeting.location_lat }}, {{ meeting.location_lng }}),
        draggable: false,
        level: 3
      };

      var map = new daum.maps.Map(mapContainer, mapOption);
      var marker = new daum.maps.Marker({
        position: new daum.maps.LatLng({{ meeting.location_lat }}, {{ meeting.location_lng }})
      });
      var iwContent = '<div style="padding: 5px;">{{ meeting.where }} (' +
          '<a target="_blank" href="http://map.daum.net/link/map/{{ meeting.where }},{{ meeting.location_lat }},' +
          '{{ meeting.location_lng }}">다음 지도</a>)&nbsp;</div>';
      var infoWindow = new daum.maps.InfoWindow({
        position: new daum.maps.LatLng({{ meeting.location_lat }}, {{ meeting.location_lng }}),
        content: iwContent
      });
      var zoomControl = new daum.maps.ZoomControl();
      map.addControl(zoomControl, daum.maps.ControlPosition.RIGHT);

      marker.setMap(map);
      infoWindow.open(map, marker);
    };

    window.post_registration_status = function (registration_id, status) {
      var statusInput = document.getElementById('registration_status_' + registration_id);
      statusInput.value = status;
      return true;
    };

    jQuery(function($) {
      $('div.slide > a').embedly({
        key: '27185d7bd8524eb59edc7cd830801ce9',
        query: {
          maxwidth: 400
        }
      });
    });
  </script>
{% endblock %}
{% block content %}
  {% if message %}
    <section class="pure-u-1">
      <div class="error-message">
        <h3><i class="fa fa-times"></i> Error</h3>

        <p>{{ message }}</p>
      </div>
    </section>
  {% endif %}

  <section class="pure-u-1">
    <h2>토토토 모임 정보</h2>

    <p>"{{ meeting.name }}"은 {{ meeting.users | length }}명이 등록했습니다.
      모임은 {{ meeting.when | localtime_format('%Y년 %m월 %d일 %H시 %M분') }}에 시작해서
      {{ meeting.when_end | localtime_format('%Y년 %m월 %d일 %H시 %M분') }}에 끝납니다.</p>
  </section>

  <section class="pure-u-1">
    <h2>모임 장소 정보</h2>

    <p>"{{ meeting.name }}"은 {{ meeting.where }}에서 열립니다. 자세한 위치는 아래 지도를 참고해주세요.</p>

    <div id="location-map"></div>
  </section>

  <section class="pure-u-1">
    <h2>목표</h2>

    <p>이번 토토토 참여자들은 토토토 모임에서 아래와 같은 일들을 하기로 했습니다.</p>

    <div class="wishlist pure-g">
      {% for registration in meeting.registrations %}
        <form id="registration_manage_{{ registration.id }}" method="post" class="pure-u-1 pure-u-md-1-2"
              action="{{ url_for('meetings.manage_registration',
              meeting_id=meeting.id, registration_id=registration.id) }}">
          <input type="hidden" id="registration_status_{{ registration.id }}" name="status"/>
          {% if registration.status == 'accepted' %}
            <div class="registration">
              <h3>{{ registration.user.name }}</h3>

              <p>{{ registration.memo | html_filter }}</p>
              {% if current_user.is_admin %}
                <button class="pure-button pure-button-primary"
                        onclick="return post_registration_status({{ registration.id }}, 'waiting');"><i
                    class="fa fa-check"></i> 대기</button>
                <button class="pure-button pure-button-error"
                        onclick="return post_registration_status({{ registration.id }}, 'refused');"><i
                    class="fa fa-times"></i> 거절</button>
                <button class="pure-button pure-button-error"
                        onclick="return post_registration_status({{ registration.id }}, 'not-attended');"><i
                    class="fa fa-times"></i> 불참</button>
              {% endif %}
            </div>
          {% elif registration.status == 'waiting' %}
            <div class="registration waiting">
              <h3>{{ registration.user.name }} (대기중)</h3>

              <p>{{ registration.memo | html_filter }}</p>
              {% if current_user.is_admin %}
                <button class="pure-button pure-button-success"
                        onclick="return post_registration_status({{ registration.id }}, 'accepted');"><i
                    class="fa fa-check"></i> 승인</button>
                <button class="pure-button pure-button-black"
                        onclick="return post_registration_status({{ registration.id }}, 'refused');"><i
                    class="fa fa-times"></i> 거절</button>
              {% endif %}
            </div>
          {% elif registration.status == 'refused' and current_user.is_admin %}
            <div class="registration refused">
              <h3>{{ registration.user.name }} (거절됨)</h3>

              <p>{{ registration.memo | html_filter }}</p>
              {% if current_user.is_admin %}
                <button class="pure-button pure-button-primary"
                        onclick="return post_registration_status({{ registration.id }}, 'waiting');"><i
                    class="fa fa-check"></i> 대기</button>
              {% endif %}
            </div>
          {% elif registration.status == 'not-attended' %}
            <div class="registration not-attended">
              <h3>{{ registration.user.name }} (신청 후 불참)</h3>

              <p>{{ registration.memo | html_filter }}</p>
            </div>
          {% endif %}
        </form>
      {% endfor %}
    </div>
  </section>

  <section class="pure-u-1">
    <h2>발표 슬라이드</h2>
    {% if current_user.is_admin %}
      <a href="{{ url_for('meetings.form_post_slide', meeting_id=meeting.id) }}"
         class="pure-button pure-button-primary"><i class="fa fa-plus"></i> 슬라이드 추가</a>
    {% endif %}
    {% if meeting.slides.count() > 0 %}
      {% for slide in meeting.slides %}
        <div class="pure-u-1 slides">
          <h3>{{ slide.title }}</h3>

          <p>{{ slide.memo }}</p>

          <div class="slide">
            <a target="_blank" href="{{ slide.url }}">Link</a>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>업로드 된 발표 슬라이드가 없습니다.</p>
    {% endif %}
  </section>
{% endblock %}
