{% extends "skeleton.html" %}
{% block content %}
  <section class="pure-u-1">
    <h2>Sign up</h2>

    <p>토토토 모임에 참여하기 위해서는 불편하지만, 토토토 사이트에 가입해야 합니다. 각자 자신의 토토토 모임 목표를 공유하고 참여 횟수 등을 기록하기 위함이니 가입해주세요.
      당연히 여러분의 비밀번호는 bcrypt로 안전하게 암호화되어 저장됩니다. :)</p>

    {% if message %}
      <div class="error-message">
        <h3><i class="fa fa-times"></i> Error</h3>

        <p>{{ message }}</p>
      </div>
    {% endif %}

    <form class="pure-form pure-form-aligned" method="post" action="{{ url_for('users.post_signup') }}">
      <fieldset>
        <div class="pure-control-group">
          <label for="email"><i class="fa fa-envelope"></i> Email</label>
          <input type="text" id="email" name="email" class="pure-input-1-2" required
                 value="{% if input_email %}{{ input_email }}{% endif %}"/>
        </div>

        <div class="pure-control-group">
          <label for="name"><i class="fa fa-user"></i> Name</label>
          <input type="text" id="name" name="name" class="pure-input-1-2" required
                 value="{% if input_name %}{{ input_name }}{% endif %}"/>
        </div>

        <div class="pure-control-group">
          <label for="password"><i class="fa fa-asterisk"></i> Password</label>
          <input type="password" id="password" name="password" class="pure-input-1-2" required/>
        </div>

        <div class="pure-control-group">
          <label for="password-confirm"><i class="fa fa-asterisk"></i> Confirm Password</label>
          <input type="password" id="password-confirm" name="password_confirm" class="pure-input-1-2" required/>
        </div>

        <div class="pure-controls">
          <label for="mail-subscribe" class="pure-checkbox">
            <input type="checkbox" name="mail_subscribe" id="mail-subscribe"/>
            토토토 모임에 관한 메일 알림을 받을래요.
          </label>

          <button type="submit" class="pure-button pure-button-primary"><i class="fa fa-check-circle"></i> 가입 할래요</button>
          <a href="{{ url_for('index') }}" class="pure-button pure-button-error"><i class="fa fa-times-circle"></i> 가입 안 할래요</a>
        </div>
      </fieldset>
    </form>
  </section>
{% endblock %}
