<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>tototo - 토요일! 토요일은 토즈다</title>

  <!-- Pure Framework -->
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css"/>

  <!-- Fonts -->
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic"/>

  <!-- Icons -->
  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>

  <!-- Custom Javascript -->
  {% block script %}{% endblock %}
</head>
<body>
<div id="wrapper" class="pure-g">
  <header class="pure-u-1">
    <h1>
      <img src="{{ url_for('static', filename='logo.png') }}" alt="토요일! 토요일은 토즈다"/>
    </h1>

    <a href="{{ url_for('index.get_index') }}" class="pure-button pure-button-primary"><i class="fa fa-home"></i> 첫 페이지</a>
    <a href="{{ url_for('meetings.get_meetings') }}" class="pure-button pure-button-primary"><i class="fa fa-calendar"></i> 토토토</a>
    {% if current_user %}
      <a href="{{ url_for('users.get_signout') }}" class="pure-button pure-button-primary"><i class="fa fa-sign-out"></i> 로그아웃</a>
    {% else %}
      <a href="{{ url_for('users.get_signin') }}" class="pure-button pure-button-primary"><i class="fa fa-sign-in"></i> 로그인</a>
    {% endif %}
  </header>

  {% block content %}{% endblock %}

  <footer class="pure-u-1">2015 Chiwan Park All rights reserved.</footer>
</div>
</body>
</html>
